<div id="carousel-campaign-list" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-campaign-list" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-campaign-list" data-slide-to="1"></li>
    <li data-target="#carousel-campaign-list" data-slide-to="2"></li>
  </ol>
  
  <div class="carousel-inner" role="listbox">
    <% @campaigns.each_with_index do |campaign, index| %>
      <%= render partial: 'campaign', locals: {campaign: campaign, index: index} %>
    <% end %>
  </div>

  <a class="left carousel-control" href="#carousel-campaign-list" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-campaign-list" role="button" data-slide="next">
    <span class="icon-next glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="post-list container">
  <div class="row">
    <div class="card col-md-3">
      <img class="card-img-top" src="http://static1.cafeland.vn/cafelandData/upload/tintuc/xuhuongcamnang/2013/05/tuan-03/ghe-4-1368712652.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card col-md-3">
      <img class="card-img-top" src="http://static1.cafeland.vn/cafelandData/upload/tintuc/xuhuongcamnang/2013/05/tuan-03/ghe-4-1368712652.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card col-md-3">
      <img class="card-img-top" src="http://static1.cafeland.vn/cafelandData/upload/tintuc/xuhuongcamnang/2013/05/tuan-03/ghe-4-1368712652.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card col-md-3">
      <img class="card-img-top" src="http://static1.cafeland.vn/cafelandData/upload/tintuc/xuhuongcamnang/2013/05/tuan-03/ghe-4-1368712652.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card col-md-3">
      <img class="card-img-top" src="http://static1.cafeland.vn/cafelandData/upload/tintuc/xuhuongcamnang/2013/05/tuan-03/ghe-4-1368712652.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card col-md-3">
      <img class="card-img-top" src="http://static1.cafeland.vn/cafelandData/upload/tintuc/xuhuongcamnang/2013/05/tuan-03/ghe-4-1368712652.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card col-md-3">
      <img class="card-img-top" src="http://static1.cafeland.vn/cafelandData/upload/tintuc/xuhuongcamnang/2013/05/tuan-03/ghe-4-1368712652.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card col-md-3">
      <img class="card-img-top" src="http://static1.cafeland.vn/cafelandData/upload/tintuc/xuhuongcamnang/2013/05/tuan-03/ghe-4-1368712652.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

</div>