<%= simple_form_for([@post, @post.requests.build]) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :content, :label => "Request this item" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
