<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Post</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.content %></td>
        <td><%= request.post %></td>
        <td><%= request.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

