<div class="container">
  <h2 class="section-header"><%= t('giveaway.select_category') %></h2>
  <%= render partial: 'category', collection: @categories %>
</div>
<script>
  $(function () {
    $(".category_block").each(function (index) {
      var $ele = $(this);
      setTimeout(function () {
        $ele.show();
        $ele.addClass('animated flipInY');
      }, index * 100);
    });
  });
</script>
