<div class="container">
<p id="notice"><%= notice %></p>

<div class="row">
<% @posts.each do |post| %>
 <div class="col-md-4"> 
  <div class="card">
  <%= link_to (image_tag post.main_image_url), post %>
    <div class="card-block">
    	<h4 class="card-title"><%= link_to post.title, post_path(post) %></h6></h4>
      <p class="card-text"><%= truncate(post.description, length: 50) %></p>
    </div>
  </div> 
  </div> 
<% end %>
</div>
</div>
