<div class="container">
<p id="notice"><%= notice %></p>

<div class="row">
<% @posts.each do |post| %>
 <div class="col-md-4"> 
  <div class="card">
  <%= link_to (image_tag post.main_image_url), post %>
    <div class="card-block">
      <h4 class="card-title"><%= post.title %></h4>
      <p class="card-text"><%= post.description %></p>
    </div>
  </div> 
  </div> 
<% end %>
</div>
</div>
