<div class="container-fluid events-list">
    <% @campaigns.in_groups_of(2) do |g| %>
      <div class="row">
        <% g.compact.each do |campaign| %>
            <%= render partial: 'campaign', locals: {campaign: campaign} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
