.category_block {
  width: 120px;
  height: 100px;
  color: white;
  text-align: center;
  padding: 12px;
  margin: 12px;
  border-radius: 5px;
  position: relative;

  i.fa {
    font-size: 3rem;
    padding: 3px;
    transition: opacity 300ms;
  }

  .text {
    text-transform: capitalize;
    transition: font-size 300ms, top 300ms;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    i.fa {
      opacity: 0;
    }
    .text {
      font-size: 1.3rem;
      font-weight: bold;
      top: 50%;
    }
  }
}
