.main-content.giveaways.select_location {
  padding-top: 24px;
  padding-bottom: 24px;

  img {
    width: 100%;
  }
}

.main-content.giveaways.select_campaign {
  .split-layout {
    height: 380px;
    overflow-y: hidden;
  }
}