@import 'variables';

html, body {
  box-sizing: border-box !important;
}

@media only screen and (min-width: 769px) {
  .header .navbar-header {
    .navbar-container {
      .navbar {
        .nav {
          /* reset navigation values */
          position: static;
          width: auto;
          max-width: 100%;
          visibility: visible;
          transform: scale(1);

          .nav-item {
            .nav-link {
              padding: 15px 30px;
              transition: padding 0.2s;
              font-weight: bold;
              font-size: 16px;
            }
          }
        }

        .cd-secondary-nav-trigger {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header .navbar-header {
    padding-bottom: 16px;

    &.is-visible {
      .navbar {
        padding-bottom: 30px;
      }
    }

    .navbar-container {
      padding: 0 !important;
      .navbar {
        .nav:not(.second-nav) {
          transition: display 0.5s;
          display: none;

          .nav-item {
            display: block;
            width: 100%;
            border-bottom: 1px dashed #999;
            padding-left: 20px;

            &:first-child {
              border-top: 1px dashed #999;
              margin-top: 24px;
            }

            a {
              border-top: none !important;
              padding-bottom: 0;
            }

            &.active {
              a {
                border-top: none;
                padding-top: 7px;
              }

              border-bottom-color: $primary_color;
            }

            &:hover {
              border-bottom-color: $primary_color;
            }
          }
        }

        .cd-secondary-nav-trigger {
          float: right;
        }
      }

      .second-nav {
        position: absolute;
        right: 55px;

        li {
          position: relative;

          &.edit-profile {
            top: -3px;
          }

          &.message {
            top: 13px;
            margin-right: 20px;
          }

          &.login {
            margin-top: 16px;
            margin-right: 5px;

            a {
              border-top: none;
            }
          }
        }
      }
    }
  }

  .main-content.welcome {
    .introduction {
      .ads {
        img {
          width: auto;
          height: 100%;
          left: -200px;
          top: 0;
        }

        .info {
          h3 {
            padding: 0 1em;
          }

          p {
            padding: 0 4em;
          }
        }
      }

      .description {
        padding-left: 2em;
        padding-right: 2em;
      }
    }

    .overview img, .campaign img {
      display: none;
    }
  }

  #main-footer {
    padding-top: 10px;

    .row > div {

    }
  }

  .main-content.posts {
    .search-container {
      form {
        width: 90%;
      }

      .btn {
        border: none;
        padding: 0;
        font-size: 30px;
        background: transparent;
      }
    }

    .post-content {
      margin-left: 40px;
      
      .filter-toggle {
        position: absolute;
        right: 11px;
        top: -20px;
        border: none;
        background: transparent;
        color: $primary_color !important;
        font-size: 26px;
      }
      
      .filter-container {
        position: absolute;
        left: -85%;  
        width: 100%;
        z-index: 1;
        background-color: #fff;
        transition: left 1s;

        &.open {
          left: 0;

          .filter-toggle {
              color: #5bc0de !important;
            }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .onboarding-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;

    .content {
      width: 100%;
      padding-top: 0;

      overflow-y: scroll;

      .welcome-message {
        h1, p {
          display: none;
        }
      }

      .fa-close {
        top: 10px;
      }

      section {
        h1 {
          margin-top: 80px;
        }
      }

      ul {
        a {
          li {
            margin-top: 15px;
            clear: both;
          }
        }
      }
    }
  }
}

