.posts {
  > .container {
    margin-top: 110px;

    .row {

      .col-md-4 {
        margin-bottom: 30px;

        .card {
          .padding: 10px;

          .post-status {
            margin-right: 15px;
          }
        }

      }
    }
  }

  form {
    h1 {
      text-align: center;
    }
  }

  .location-alert, .location-select {
    font-size: 16px;
    width: 100%;

    .btn-container {
      margin-top: 14px;
    }
  }

  .location-select {
    select {
      height: 40px;
      width: 35%;
      padding: 20px;
      margin-top: 15px;
      color: #f4f4f4;
      background-color: #5cb85c;
    }
  }

  .search-container {
    padding-right: 15px;

    .btn {
      height: 53px;
    }
    
    #search_chosen {
      width: 100% !important;

      .chosen-choices {
        width: 100%;
        border-radius: 4px;

        .search-choice {
          background-color: #5bc0de;
          color: #fff;
          border: none;
          padding: 7px 20px 7px 12px;
          background-image: none;
          box-shadow: none;

          .search-choice-close {
            top: 8px;
            right: 4px;
          }
        }

        .search-field {
          width: 100%;
          padding: 12px 24px;

          input {
            width: 100%;
            font-size: 20px;
          }
        }
      }
    }
  }
}
