.posts {
  > .container {
    margin-top: 220px;

    .row {

      .col-md-4 {
        margin-bottom: 30px;

        .card {
          .post-status {
            margin-right: 15px;
          }
        }

      }
    }
  }

  form {
    h1 {
      text-align: center;
    }
  }
}