.posts {
  > .container {
    margin-top: 110px;

    .post-content {
      margin-top: 30px;
    }

    .row {

      .col-md-4 {
        margin-bottom: 30px;

        .card {
          .padding: 10px;

          .post-status {
            margin-right: 15px;
          }
        }

      }
    }
  }

  form {
    h1 {
      text-align: center;
    }
  }

  .location-alert, .location-select {
    font-size: 16px;
    width: 100%;

    .btn-container {
      margin-top: 14px;
    }
  }

  .location-select {
    select {
      height: 40px;
      width: 35%;
      padding: 20px;
      margin-top: 15px;
      color: #f4f4f4;
      background-color: #5cb85c;
    }
  }

  .search-container {
    padding-right: 15px;

    .btn {
      height: 53px;
    }

    #search_chosen {
      width: 100% !important;

      .chosen-choices {
        width: 100%;
        border-radius: 4px;
        background: none;

        .search-choice {
          background-color: rgba(240,173,78,0.15);
          border: 1px solid $primary_color;
          padding: 7px 20px 7px 12px;
          background-image: none;
          box-shadow: none;

          .group-name {
            color: $primary_color;
            opacity: 0.8;
          }

          .search-choice-close {
            top: 8px;
            right: 4px;
          }
        }

        .search-field {
          width: 100%;
          padding: 12px 24px;

          input {
            width: 100%;
            font-size: 20px;
          }
        }
      }
    }
  }

  .category-list {
    li {
      list-style: none;
    }
  }

  #search-box {
    width: 100%;
    height: 53px;
    background-image: none;
    background-color: transparent;
    border-color: #f0ad4e;
  }

  .btn-category {
    position: relative;
    width: 100px;
    text-align: left;
    padding-left: 0px;

    i.fa {
      text-align: center;
      width: 20px;
      margin-right: 2px;
    }


    &:hover,
    &.active {
      border-left: solid 3px $primary_color;
      color: $primary_color;

      i.fa {
        padding-left: 5px;
      }
    }
  }
}


$detail_col_padding_top: 101px;
.posts.show {
  .detail-page {
    .sharing {
      padding-top: $detail_col_padding_top;
      a {
        display: block;

        max-width: 50px;
        max-height: 50px;
        margin-bottom: 7px;

        &.at-svc-ketnooi {
          span {
            padding-left: 10px;
          }
        }

        span {
          line-height: 50px !important;
          height: 50px !important;
          width: 50px !important;
          padding-left: 5px;
          padding-top: 6px;

          .at-icon {
            width: 40px !important;
            height: 40px !important;
          }
        }
      }
    }

    .post-content {
      font-family: "Gotham SSm A";
      color: #444;

      h2, h6 {
        text-align: center;
        font-weight: normal;

        margin-bottom: 10px;
      }

      h6 {
        color: #818a91;
        
        i {
          font-size: 7px;
          position: relative;
          top: -3px;

          margin-left: 3px;
          margin-right: 3px;
        }
      }

      p {
        padding: 20px;
        font-size: 16px;
      }
    }
  }

  .toolbar {
    padding-top: $detail_col_padding_top;

    ul {
      &.more-info {
        margin-bottom: 30px;

        li {
          text-align: center;

          .published {
            color: #5cb85c;
          }

          .closed {
            color: #d9534f;
          }

          .drafted {
            color: #818a91;
          }
        }  
      }
    }
  }

  .btn {
    margin-bottom: 10px;
  }
}
